
body {
    background-image: url("./bg.png");
}
h1{
    color: white;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 150%;
    font-style: oblique 40deg;
}
.wrapper{
    display: block;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 30%;
    top: 30%;
}
h2{
    font-size: 80%;
}
#textt{
    color: white;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 100%;
    font-style: oblique 40deg;
    width: 300px;
    border: 0px;
    position: absolute;
    top: 12%;
    left: 22%;
    text-align: center;
}
.div2{
    display: block;
    position: relative;
    top: -660px;
    left: -50px;
}
.div3{
    display: block;
    position: relative;
    top: -170px;
    left: 460px;
}
img {
    position: relative;
    display: block;
}
