body{
    background-color: #000000;
    position: absolute;
    display: flex;
    height: 40%;
    width: 100%;
    margin: 0%;
    align-items: center;
    justify-content: center;
    border: 0cm;
}

.drumSounds{
    position: relative;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0%;
}
.drumSounds div{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    position: relative;
    justify-self: center;
}
.sample1, .sample2, .sample3{
    background-color: #31A6FE;
}

.sample4, .sample5, .sample6, .sample7{
    background-color: #FF487D;
}
.sample8, .sample9{
    background-color: #F39C12;
}
.playbutton{
    position: relative;
}