input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .container {
    border-radius: 5px;
    padding: 20px;
    position: relative;
  }
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    bottom: 0%;
  }
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }