
body{
  text-align: center;
  font-family: sans-serif; 
}
body{
  background-image: url("./bg.png");
}
.header-bottom{
  width: 2px !important;
  height: 2px !important;
  position: relative;
  right: 35px;
  bottom: -10cm;
  background: transparent;
  background: none;
  left: 35px;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}

h1 { 
    color: rgb(211, 17, 17);
    font-family: sans-serif;
    font-size: 400%;
    font-style: italic;
    font-weight: 500; 
    text-shadow: 2px 2px 2px grey;
  }
h2{
  color: rgb(211, 17, 17);
  font-family: sans-serif;
  font-size: 150%;
  font-style: italic;
  font-weight: 100; 
  text-shadow: 2px 2px 2px grey;
}
#lorimps{
    background-color: transparent;
    font-family: sans-serif;
    font-size: 100%;
    font-style: italic;
    width: 500px;
    border: 50px ;
    padding: 25px;
    margin: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(211, 17, 17);
} 
h3, h4 {
    color: rgb(138, 20, 20);
    font-family: sans-serif;
    font-size: 100%;
    font-style: italic;
    font-weight: 900; 
}

#topvan{
  background-color: black;
  overflow: hidden;
}
#div4 {
  width: 2%;
  height: 3px;
  background: transparent;
  position: relative;
  bottom: -10cm;
  size: 2cm 2cm;
}
img {
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}
video {
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type=text], select, textarea {
  width: 20%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.header-bottom {
  padding: 14px 25px;
  text-align: center;
  display: outside;
  overflow: hidden;
  position: fixed;
  top: auto;
  width: 5%; 
  height: 1px;
}
.container{
  text-align: left;
  bottom: -10cm;
  color: #ccc;
  left: 4cm;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input[type="text"], textarea {
  background-color : #b1b1b1; 
}
input[type="email"], textarea {
  background-color : #b1b1b1; 
}
input[type="tel"], textarea {
  background-color : #b1b1b1; 
}
a:link {
  background-color:black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 30%;
  height: 5px;
}
 a:active {
  background-color:black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 30%; 
  height: 5px;
}
a:visited{
  color:red;
  background-color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 30%;
  height: 5px;
} 
a:hover {
  color:violet;
  background-color:black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-table;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 30%; 
  height: 5px;
}
