body{
    background-image: url("./bg.png");
  }
.wrapper{
    margin-left: 0cm;
    margin-top: 0cm;
    position: relative;
}
h1{
    color: white;
    background-color: transparent;
    position: absolute;
    font-family: sans-serif;
    font-size: 150%;
    font-style: oblique 40deg;
    margin-left: 500px;
    margin-top: -360px;
}
a{
    font-size: 80%;
    color: white;
}
.alleckig{
    color: white;
    column-count: 2;
    column-gap: 7cm;
    position: absolute;
    margin-inline-start: 13cm;
    column-rule-width: 15px;
    margin-top: -8cm;
}
.allherz{
    color: white;
    column-count: 3;
    column-gap: 5cm;
    width: 10cm;
    position: relative;
    margin: -8cm;
    margin-inline-start: 14cm;
    margin-top: -7cm;
}
.eckig1{
    color: white;
    margin: auto;
    width: 500px;
    display: grid;
    position: absolute;
}
.eckig2{
    color: white;
    margin: auto;
    width: 500px;
    display: grid;
    position: absolute;
}
.div2{
    border: 0cm;
    margin: 0cm;
    display: block;
    position: relative;
    margin-block-start: 4cm;
    margin-block-end: 0cm;
    margin-inline-start: 12cm;
    margin-inline-end: 0cm;
}
